*,
::after,
::before {
	box-sizing: border-box;
}

html,
body {
	font-size: 16px;
	font-family: "Roboto", Arial, Tahoma, sans-serif;
}

body {
	background-color: #f7f9fc;
	background-image: url("./img/bg.jpg");
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}
p {
	margin: 0;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

button {
	all: unset;
}

.text-right {
	text-align: right;
}

img {
	max-width: 100%;
	height: auto;
}

#root {
	padding: 0 15px;
}

.btn {
	display: inline-block;
	font-weight: 400;
	color: #212529;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	user-select: none;
	background-color: transparent;
	border: 1px solid transparent;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: 0.25rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary.disabled,
.btn-primary:disabled {
	color: #fff;
	background-color: #007bff;
	border-color: #007bff;
}

.btn.disabled,
.btn:disabled {
	opacity: 0.65;
}

.btn-primary {
	color: #fff;
	background-color: #007bff;
	border-color: #007bff;
}

.btn {
	display: inline-block;
	padding: 5px 30px;
	margin-top: 15px;
	transition: 0.3s;
	font-size: 18px;
	cursor: pointer;
}

.btn:hover {
	background: #262f3d;
	border: 1px solid #262f3d;
	color: #fff;
}

input.error,
textarea.error {
	border-color: #ce0909;
}

.error-message {
	color: #ce0909;
	font-size: 14px;
}

.btn:disabled {
	cursor: not-allowed;
}

.App {
	display: flex;
	flex-direction: column;
	max-width: 750px;
	max-height: calc(100vh - 30px);
	margin: 0 auto;
	//padding: 0 30px 30px 30px;
	background-color: #fff;
	margin-top: 15px;
	border-radius: 10px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.header {
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	color: #464646;
	border-bottom: 1px solid #eee;

	h1 {
		font-size: 32px;
	}
}

.content {
	display: flex;
	flex-direction: column;
	overflow-y: auto;
}

/* Messages block */
.messages-block {
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: reverse;
	-ms-flex-direction: column-reverse;
	-ms-flex-direction: column-reverse;
	flex-direction: column-reverse;
	flex-grow: 1;
	overflow: auto;
	min-height: 300px;
	padding: 15px 30px;

	h2 {
		font-size: 24px;
		margin-bottom: 20px;
		line-height: 1.2;
		color: #464646;
	}

	&::-webkit-scrollbar-button {
		background-repeat: no-repeat;
		width: 5px;
		height: 0px;
	}

	&::-webkit-scrollbar-track {
		background-color: #ecedee;
	}

	&::-webkit-scrollbar-thumb {
		-webkit-border-radius: 0px;
		border-radius: 0px;
		background-color: #6dc0c8;
	}

	&::-webkit-scrollbar-thumb:hover {
		background-color: #56999f;
	}

	&::-webkit-resizer {
		background-repeat: no-repeat;
		width: 4px;
		height: 0px;
	}

	&::-webkit-scrollbar {
		width: 4px;
	}
}

.messages {
	display: flex;
	flex-direction: column;
	align-items: baseline;
}

.message {
	display: inline-block;
	min-width: 30%;
	color: inherit;
	padding: 15px;
	font-size: 14px;
	background: #f7f7f7;
	border-radius: 5px;
	box-shadow: 3px 3px 5px rgba(34, 39, 51, 0.1);

	&:nth-child(2n) {
		background: #e4ffdb;
	}

	&:nth-child(3n) {
		background: #DEF7FE;
	}

	&:nth-child(4n) {
		background: #FFFADD;
	}

	&:nth-child(5n) {
		background: #fce2ff;
	}

	&:nth-child(6n) {
		background: #E7ECFF;
	}

	&:nth-child(7n) {
		background: #FDEED9;
	}

	&:nth-child(8n) {
		background: #F6FFF8;
	}

	&:not(:last-child) {
		margin-bottom: 30px;
	}

	&__user-name {
		font-size: 14px;
		margin-bottom: 10px;
		font-weight: 700;
		color: #aaaaaa;
		line-height: 1.2;
	}
}

.no-messages {
	color: #ccc;
}
/* END Messages block */

/* Write message block */
.write-message-block {
	position: relative;
	padding: 15px 30px 30px 30px;
	border-top: 1px solid #eee;
	background: #f7f7f7;
	margin-top: 10px;

	.title {
		font-size: 16px;
		line-height: 1.2;
		font-weight: 700;
		margin-bottom: 10px;
		color: #464646;

		span {
			font-size: 12px;
			font-weight: normal;
			color: #9e9c9c;
		}
	}
}

.write-message-form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	textarea {
		width: 100%;
		padding: 10px;
		border: 1px solid #ccc;
		resize: vertical;
		border-radius: 0;
		outline: none;
		transition: 0.3s;
		font-size: 16px;

		&:focus {
			border: 1px solid #262f3d;
		}
	}

	.btn {
		margin-left: auto;
		padding: 2px 30px;
	}
}

.copyright {
	display: inline-block;
	position: absolute;
	bottom: 5px;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	font-size: 12px;
	color: #bbbbbb;
	transition: 0.3s;
	text-decoration: none;

	&:hover {
		color: #007bff;
	}
}
/* END Write message block */
